
name: Snyk

on:
  push:
    branches: [ master ]

jobs:
  security:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Run Snyk to check for vulnerabilities
      uses: snyk/actions/golang@master
      with:
        command: monitor
        args: --prune-repeated-subdependencies --project-name=sql-runner
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
